body{
    background-image: linear-gradient(rgba(108, 52, 28, 0.767),rgba(189, 89, 89, 0.862));
    margin: 0;
    padding: 0;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 400px 100px;
}
.title{
    
    grid-column: span 2;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
}
h3 {
    grid-column: span 2;
    text-align: center;
    color:rgb(85, 37, 1);
    font-size: 3rem;
}
.roll{
    text-decoration: underline;
    font-size: larger;
    text-align: center;

}
.footer{
    grid-column: span 2;
    text-align: center;
}
.buttonroll{
    border: rgb(71, 36, 1) solid ;
    
    background-color: rgb(238, 174, 97);
    border-radius: 10px;
    width: 200px;
    height: 70px;
}
.buttonroll:hover{
    background-color:rgb(85, 37, 1);
    color: rgb(245, 244, 244);
}